# Collect & Clean

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math as m

In [2]:
class bcolors:
    HEADER = '\033[95m'
    OKBLUE = '\033[94m'
    OKCYAN = '\033[96m'
    OKGREEN = '\033[92m'
    WARNING = '\033[93m'
    FAIL = '\033[91m'
    ENDC = '\033[0m'
    BOLD = '\033[1m'
    UNDERLINE = '\033[4m'

## 1. Gathering Data 

Note here we have two data tables 

I. The data_orders data set contains the following columns:

* order_datetime - time of the order
* origin_longitude - longitude of the order
* origin_latitude - latitude of the order
* m_order_eta - time before order arrival
* order_gk - order number
* order_status_key - status, an enumeration consisting of the following mapping:
    * 4 - cancelled by client,
    * 9 - cancelled by system, i.e., a reject
* is_driver_assigned_key - whether a driver has been assigned
* cancellation_time_in_seconds - how many seconds passed before cancellation

II. The data_offers data set is a simple map with 2 columns:

* order_gk - order number, associated with the same column from the orders data set
* offer_id - ID of an offer

### i. Data Collection

In [3]:
orders = pd.read_csv('datasets/original datasets/data_orders.csv')
offers = pd.read_csv('datasets/original datasets/data_offers.csv')

In [4]:
orders.head(10)

,order_datetime,origin_longitude,origin_latitude,m_order_eta,order_gk,order_status_key,is_driver_assigned_key,cancellations_time_in_seconds
0,18:08:07,-0.978916,51.456173,60.0,3000583041974,4,1,198.0
1,20:57:32,-0.950385,51.456843,NaN,3000583116437,4,0,128.0
2,12:07:50,-0.969520,51.455544,477.0,3000582891479,4,1,46.0
3,13:50:20,-1.054671,51.460544,658.0,3000582941169,4,1,62.0
4,21:24:45,-0.967605,51.458236,NaN,3000583140877,9,0,NaN
5,21:21:23,-0.947011,51.456380,NaN,3000583117054,9,0,NaN
6,07:58:15,-0.955637,51.470372,NaN,3000582791789,9,0,NaN
7,07:53:46,-0.978230,51.454575,NaN,3000582791562,9,0,NaN
8,08:53:01,-1.052298,51.454308,NaN,3000582817606,9,0,NaN
9,06:33:52,-0.976216,51.433202,NaN,3000582765616,4,0,78.0

In [5]:
offers.head(10)

        order_gk      offer_id
0  3000579625629  300050936206
1  3000627306450  300052064651
2  3000632920686  300052408812
3  3000632771725  300052393030
4  3000583467642  300051001196
5  3000589281354  300051262015
6  3000589106142  300051250324
7  3000622819913  300051794962
8  3000630156692  300052288434
9  3000630781485  300052318376

### ii. Describe Data

In [6]:
orders.describe()

,origin_longitude,origin_latitude,m_order_eta,order_gk,order_status_key,is_driver_assigned_key,cancellations_time_in_seconds
count,10716.000000,10716.000000,2814.000000,1.071600e+04,10716.000000,10716.000000,7307.000000
mean,-0.964323,51.450541,441.415423,3.000598e+12,5.590612,0.262598,157.892021
std,0.022818,0.011984,288.006379,2.396261e+07,2.328845,0.440066,213.366963
min,-1.066957,51.399323,60.000000,3.000550e+12,4.000000,0.000000,3.000000
25%,-0.974363,51.444643,233.000000,3.000583e+12,4.000000,0.000000,45.000000
50%,-0.966386,51.451972,368.500000,3.000595e+12,4.000000,0.000000,98.000000
75%,-0.949605,51.456725,653.000000,3.000623e+12,9.000000,1.000000,187.500000
max,-0.867088,51.496169,1559.000000,3.000633e+12,9.000000,1.000000,4303.000000

In [7]:
offers.describe()

           order_gk      offer_id
count  3.343630e+05  3.343630e+05
mean   3.000602e+12  3.000515e+11
std    2.431638e+07  5.276821e+05
min    3.000551e+12  3.000506e+11
25%    3.000585e+12  3.000511e+11
50%    3.000596e+12  3.000516e+11
75%    3.000625e+12  3.000520e+11
max    3.000633e+12  3.000524e+11

### iii. Describe Datatypes

In [8]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10716 entries, 0 to 10715
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_datetime                 10716 non-null  object
 1   origin_longitude               10716 non-null  float64
 2   origin_latitude                10716 non-null  float64
 3   m_order_eta                    2814 non-null   float64
 4   order_gk                       10716 non-null  int64
 5   order_status_key               10716 non-null  int64
 6   is_driver_assigned_key         10716 non-null  int64
 7   cancellations_time_in_seconds  7307 non-null   float64
dtypes: float64(4), int64(3), object(1)
memory usage: 669.9+ KB

In [9]:
offers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 334363 entries, 0 to 334362
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   order_gk  334363 non-null  int64
 1   offer_id  334363 non-null  int64
dtypes: int64(2)
memory usage: 5.1 MB

## 2. Cleaning Data

### i. Check the NaNs in orders & offers

In [10]:
orders.isna().sum()

order_datetime                      0
origin_longitude                    0
origin_latitude                     0
m_order_eta                      7902
order_gk                            0
order_status_key                    0
is_driver_assigned_key              0
cancellations_time_in_seconds    3409
dtype: int64

In [11]:
offers.isna().sum()

order_gk    0
offer_id    0
dtype: int64

### ii. Interpret NaNs 

Since there are no missing values in offers. Orders must be closely inspected

##### a. Understanding the proporation of missing values to volume of data

In [12]:
for key in orders.keys():
    if orders.isna().sum()[key]*100/orders.shape[0] > 10:
        print(bcolors.FAIL + f"Proportion of missing values in order time estimate column [{key}] {orders.isna().sum()[key]*100/orders.shape[0]} %" + bcolors.ENDC)
    else:
        print(bcolors.OKGREEN + f"Proportion of missing values in order time estimate column [{key}] {orders.isna().sum()[key]*100/orders.shape[0]} %" + bcolors.ENDC)

Proportion of missing values in order time estimate column [order_datetime] 0.0 %
Proportion of missing values in order time estimate column [origin_longitude] 0.0 %
Proportion of missing values in order time estimate column [origin_latitude] 0.0 %
Proportion of missing values in order time estimate column [m_order_eta] 73.74020156774915 %
Proportion of missing values in order time estimate column [order_gk] 0.0 %
Proportion of missing values in order time estimate column [order_status_key] 0.0 %
Proportion of missing values in order time estimate column [is_driver_assigned_key] 0.0 %
Proportion of missing values in order time estimate column [cancellations_time_in_seconds] 31.81224337439343 %

##### b. Understand Nulls

i. Nulls in m-order-eta

In [13]:
print(f"Percentage of nulls when driver is assigned but eta is null {len(orders[orders['m_order_eta'].isna() & orders['is_driver_assigned_key'] != 0])*100/orders.shape[0]}%")
print(f"Percentage of nulls when driver is not assigned but eta is null {len(orders[orders['m_order_eta'].isna() & orders['is_driver_assigned_key'] == 0])*100/orders.shape[0]}%")
print(bcolors.OKGREEN + "Hence when a driver is not assigned the order ETA is labelled as null" + bcolors.ENDC)

Percentage of nulls when driver is assigned but eta is null 0.0%
Percentage of nulls when driver is not assigned but eta is null 100.0%
Hence when a driver is not assigned the order ETA is labelled as null

ii. Nulls in cancellation-time-in-seconds

In [14]:
o4 = orders[orders['order_status_key'].astype(int) == 4]
o9 = orders[orders['order_status_key'].astype(int) == 9]

if len(o4) + len (o9) == len(orders):
    print(f"Percentage of nulls in cancellation times when order is autocancelled is  {len(o9[o9['cancellations_time_in_seconds'].isna()]) *100/o9.shape[0]}%")
    print(f"Percentage of nulls in cancellation times when order is autocancelled is  {len(o4[o4['cancellations_time_in_seconds'].isna()]) *100/o4.shape[0]}%")
    print(bcolors.OKGREEN + "Hence when a driver is not assigned the order ETA is labelled as null" + bcolors.ENDC)

Percentage of nulls in cancellation times when order is autocancelled is  100.0%
Percentage of nulls in cancellation times when order is autocancelled is  0.0%
Hence when a driver is not assigned the order ETA is labelled as null

##### c. Treat Nulls

Since the proportion of nulls in some cases is higher than 10% hence we must treat them and not ignore them

i. *_Nulls in m-order-eta_* arise due to failure to assign a ride hence in order to better the analysis lets label it as 0 since the minimum eta for any satisfied order is 3 or greater time units

ii. *_Nulls in cancellations-time-in-seconds_* is null when the ride is auto cancelled i.e. has code 9

In [15]:
orders.fillna(value={"cancellations_time_in_seconds":0, 'm_order_eta':0}, inplace=True)

In [16]:
orders.isna().sum()

order_datetime                   0
origin_longitude                 0
origin_latitude                  0
m_order_eta                      0
order_gk                         0
order_status_key                 0
is_driver_assigned_key           0
cancellations_time_in_seconds    0
dtype: int64

## 3. Saving a copy of the cleaned data

In [17]:
orders.to_csv('datasets/cleaned datasets/data_orders.csv')
offers.to_csv('datasets/cleaned datasets/data_offers.csv')